*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
   

}
.container{
  text-align: center;
    width: 500px;
    margin: 100px auto;
}
.key{
    width: 90px;
    height: 90px;
    margin: 5px;
    text-align: center;
    line-height: 90px;
    border-radius: 90px;

}
.display{
    font-size:40px;
    margin: 20px;
    text-align: right;
}
